<?xml version="1.0"?>
<config>
    <modules>
        <TD_WaitList>
            <version>0.1.0</version>
        </TD_WaitList>
    </modules>
    <global>
        <models>
            <td_waitlist>
                <class>TD_WaitList_Model</class>
                <resourceModel>td_waitlist_resource</resourceModel>
            </td_waitlist>
            <td_waitlist_resource>
                <class>TD_WaitList_Model_Mysql4</class>
                <entities>
                    <waitlist>
                        <table>td_waitlist</table>
                    </waitlist>
                </entities>
            </td_waitlist_resource>
        </models>
        <blocks>
            <td_waitlist>
                <class>TD_WaitList_Block</class>
            </td_waitlist>
        </blocks>
        <helpers>
            <td_waitlist>
                <class>TD_WaitList_Helper</class>
            </td_waitlist>
        </helpers>
        <resources>
            <td_waitlist_setup>
                <setup>
                    <module>TD_WaitList</module>
                </setup>
            </td_waitlist_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <td_waitlist>
                        <type>model</type>
                        <class>td_waitlist/observer</class>
                        <method>checkStock</method>
                    </td_waitlist>
                </observers>
            </catalog_product_save_after>
        </events>
        <template>
            <email>
                <customer_waitlist_template>
                    <label>Waitlist</label>
                    <file>waitlist.html</file>
                    <type>html</type>
                </customer_waitlist_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <td_waitlist>
                    <file>td_waitlist.xml</file>
                </td_waitlist>
            </updates>
        </layout>
        <routers>
            <waitlist>
                <use>standard</use>
                <args>
                    <module>TD_WaitList</module>
                    <frontName>waitlist</frontName>
                </args>
            </waitlist>
        </routers>
    </frontend>
    <default>
        <customer>
            <waitlist>
                <template>customer_waitlist_template</template>
            </waitlist>
        </customer>
    </default>
</config>